In [8]:
import pandas as pd
from gurobipy import *

In [9]:
data_raw = pd.read_csv('disponibilidad(1).csv',encoding="ISO-8859-1",sep=";")

In [10]:
# recuperar dias
data_raw.index

RangeIndex(start=0, stop=18, step=1)

In [11]:
data_raw

,nombre,4,5,6,7,8,9,10,11,12,...,20,21,22,23,24,25,26,27,28,29
0,Paula,no,no,no,no,no,NaN,NaN,no,no,...,no,no,no,NaN,NaN,no,yes,yes,no,no
1,Douglas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jariel,no,no,no,no,no,NaN,NaN,no,no,...,no,no,no,NaN,NaN,no,no,no,no,no
3,Claudia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcos,yes,yes,yes,yes,yes,NaN,NaN,yes,yes,...,yes,yes,yes,NaN,NaN,yes,yes,yes,yes,yes
5,Mauricio,no,no,no,no,no,NaN,NaN,no,no,...,no,no,no,NaN,NaN,yes,yes,yes,yes,yes
6,Juan Pablo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Robert,yes,yes,yes,yes,yes,NaN,NaN,no,yes,...,yes,yes,yes,NaN,NaN,yes,yes,yes,yes,yes
8,Silvana,NaN,yes,yes,yes,NaN,NaN,NaN,NaN,NaN,...,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Mar­a,yes,yes,yes,yes,no,NaN,NaN,yes,yes,...,yes,no,no,NaN,NaN,yes,yes,yes,yes,yes
10,Gustavo,no,no,no,no,no,NaN,NaN,no,no,...,no,no,no,NaN,NaN,no,yes,yes,no,no
11,Ed,yes,yes,yes,yes,NaN,NaN,NaN,yes,yes,...,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jorge,yes,yes,yes,yes,NaN,NaN,NaN,yes,yes,...,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Cecilia,si,si,si,no,no,NaN,NaN,si,si,...,si,no,no,NaN,NaN,no,si,si,si,no
14,Cata,no,no,no,no,no,NaN,NaN,yes,yes,...,NaN,NaN,NaN,NaN,NaN,yes,yes,yes,NaN,NaN
15,Simon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Edgar,yes,yes,yes,yes,yes,NaN,NaN,yes,yes,...,yes,yes,yes,NaN,NaN,yes,yes,yes,yes,yes
17,Constanza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data = data_raw.set_index('nombre')
data.fillna('no', inplace=True)

In [56]:
toy = data['4'].loc[data.index=='Paula']

In [62]:
# recuperar valor dado el index y la columna
data.at['Paula','4']

'no'

In [7]:
data.index

Index(['Paula', 'Douglas', 'Jariel', 'Claudia', 'Marcos', 'Mauricio',
       'Juan Pablo', 'Robert', 'Silvana', 'Mar­a', 'Gustavo', 'Ed', 'Jorge',
       'Cecilia', 'Cata', 'Simon', 'Edgar', 'Constanza'],
      dtype='object', name='nombre')

In [16]:
# recuperamos los indices para el modelo
# (i.e. dias, lugares,nombres)
dias = set(data.columns)
lugares = {'SPENCE','MEL','CC'}
nombres = set(data.index)
semanas = {}
# creamos un diccionario
# dia:dias de esa semana
for i in [4,11,18,25]:
    semanas[str(i)] = [str(i+j) for j in range(5)]
key_semanas = list(semanas.keys())

In [17]:
for semana in key_semanas:
    print(semanas[semana])

['4', '5', '6', '7', '8']
['11', '12', '13', '14', '15']
['18', '19', '20', '21', '22']
['25', '26', '27', '28', '29']

In [14]:
m=Model()
x = {}
for t in dias:
    for n in nombres:
        for l in lugares:
            x[t,n,l] = m.addVar(vtype=GRB.BINARY, name = "x%s,%s,%s" % (t,n,l))
m.update()

expr = LinExpr()
dicc_import_lugar = {'SPENCE':2,'MEL':100,'CC':1}
for lugar in lugares:
    expr += LinExpr([dicc_import_lugar[lugar] for t,n in itertools.product(dias,nombres)],
                    [x[t,n,lugar] for t,n in itertools.product(dias,nombres)])
#expr = LinExpr([1 for t,n,l in itertools.product(dias,nombres,lugares)],
#               [x[t,n,l] for t,n,l in itertools.product(dias,nombres,lugares)])

# restricciones de disponibilidad
for n in nombres:
    for t in dias:
        for l in lugares:
            if data.at[n,t]=='yes':
                m.addConstr(x[t,n,l]<= 1)
            else:
                m.addConstr(x[t,n,l]<=0)
            
# restricciones fisicas
# una persona solo puede estar en un lugar por dia
for t in dias:
    for n in nombres:
        m.addConstr(sum([x[t,n,l] for l in lugares])<= 1)
        
# Una persona viaja a lo mas una vez
# por semana
for semana in key_semanas:
    for n in nombres:
        m.addConstr(sum([x[t,n,l] for t,l in itertools.product(semanas[semana],lugares)])<= 1)
        
# cada semana todos los lugares son visitados
# por al menos dos personas
for semana in key_semanas:
    for l in ['SPENCE','CC']:
        m.addConstr(sum([x[t,n,l] for t,n in itertools.product(semanas[semana],nombres)])>=2)
# lo mismo que lo anterior, pero con 
# cota inferior igual a 3
# restar el caso Mauricio en MEL
for semana in key_semanas:
    for l in ['MEL']:
        m.addConstr(sum([x[t,n,l] for t,n in itertools.product(semanas[semana],nombres) if not n=='Mauricio'])>=3)
        
# no viajar al mismo lugar en semanas consecutivas
for i in range(3):
    for n in ['Marcos','Paula','Ed']:
        for l in lugares:
            m.addConstr(sum([x[t,n,l] for t in semanas[key_semanas[i+1]]])<=1-sum([x[t,n,l] for t in semanas[key_semanas[i]]]))
    
m.setObjective(expr, GRB.MAXIMIZE)
m.Params.presolve = 0
m.optimize()

Academic license - for non-commercial use only
Changed value of parameter presolve to 0
   Prev: -1  Min: -1  Max: 2  Default: -1
Optimize a model with 1983 rows, 1404 columns and 5218 nonzeros
Variable types: 0 continuous, 1404 integer (1404 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+00]
Found heuristic solution: objective 1226.0000000
Variable types: 0 continuous, 1404 integer (1404 binary)

Root relaxation: objective 1.324000e+03, 165 iterations, 0.01 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    1324.0000000 1324.00000  0.00%     -    0s

Explored 0 nodes (165 simplex iterations) in 0.05 seconds
Thread count was 8 (of 8 available processors)

Solution count 2: 1324 1226

Optimal solution found (tolerance 1.00e-04)
Best objective 1.324000000000e+03, best bound 1.324000000000e+03, gap 0.0000%

In [208]:
name = 'Edgar'
lugar = 'MEL'
for semana in key_semanas:
    print(sum([x[t,name,lugar].x for t in semanas[semana]]))

1.0
1.0
1.0
1.0

In [143]:
# cuantas personas viajan a SPENCE la primera semana
weekone = key_semanas[3]
print(sum([x[t,n,lugar].x for t,n in itertools.product(semanas[weekone],nombres)]))

for n in nombres:
    if sum([x[t,n,lugar].x for t in semanas[weekone]])==1:
        print('%s viaja a %s' % (n,lugar))

2.0
Cata viaja a CC
Mauricio viaja a CC

In [148]:
weekone = key_semanas[0]
lugar = 'CC'
for n in nombres:
    if sum([x[t,n,lugar].x for t in semanas[weekone]])==1:
        print('%s viaja a %s' % (n,lugar))

Silvana viaja a CC
Mar­a viaja a CC

In [15]:
# resumen de los viajes por semana
print('Personas-Destinos')
for semana in key_semanas:
    print('\n\nSemana del %s de marzo' % semana)
    for lugar in lugares:
        for n in nombres:
            if sum([x[t,n,lugar].x for t in semanas[semana]])==1:
                print('%s viaja a %s' % (n,lugar))

Personas-Destinos


Semana del 4 de marzo
Robert viaja a SPENCE
Edgar viaja a SPENCE
Mar­a viaja a CC
Marcos viaja a CC
Silvana viaja a MEL
Jorge viaja a MEL
Ed viaja a MEL


Semana del 11 de marzo
Jorge viaja a SPENCE
Marcos viaja a SPENCE
Ed viaja a CC
Cata viaja a CC
Robert viaja a MEL
Mar­a viaja a MEL
Edgar viaja a MEL


Semana del 18 de marzo
Mar­a viaja a SPENCE
Jorge viaja a SPENCE
Robert viaja a CC
Silvana viaja a CC
Ed viaja a MEL
Marcos viaja a MEL
Edgar viaja a MEL


Semana del 25 de marzo
Robert viaja a SPENCE
Mar­a viaja a SPENCE
Mauricio viaja a CC
Marcos viaja a CC
Gustavo viaja a MEL
Cata viaja a MEL
Paula viaja a MEL
Edgar viaja a MEL

In [210]:
# numero de personas diferentes que fueron al asset
# en el mes
var_by_place = {}
for l in lugares:
    var_by_place[l] = sum([x[t,n,l].x for t,n in itertools.product(dias,nombres)])

In [211]:
var_by_place

{'SPENCE': 8.0, 'MEL': 13.0, 'CC': 8.0}